<app-header></app-header>

<div class="content" role="main">

  <h2>Order Summary</h2>
    <table mat-table [dataSource]="bucket?.orders" class="table table-hover">
      <!-- Bucket Order Column -->
      <ng-container matColumnDef="Bucket Order">
        <th mat-header-cell *matHeaderCellDef> Bucket Order </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>

      <!-- Price Column -->
      <ng-container matColumnDef="Drink">
        <th mat-header-cell *matHeaderCellDef> Drink </th>
        <td mat-cell *matCellDef="let element"> {{element.drink?.drinkType?.description}} </td>
      </ng-container>

      <!-- Price Column -->
      <ng-container matColumnDef="Price">
        <th mat-header-cell *matHeaderCellDef> Price </th>
        <td mat-cell *matCellDef="let element"> {{element.price}} $</td>
      </ng-container>

      <!-- Quantity Column -->
      <ng-container matColumnDef="Quantity">
        <th mat-header-cell *matHeaderCellDef> Quantity </th>
        <td mat-cell *matCellDef="let element">
          <input min="1" class="number" (change)="updateQuantity($event, element);"
                 type="number"
                 value="{{element.quantity}}"/> </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
     <div  *ngIf="bucket?.orders">
       <b class="row">Total: {{bucket?.totalPrice }} $</b>
       <br>
       <div class="row">
         <input [(ngModel)]='discountCode' value="{{bucket?.discount?.code}}" class="form-control input-discount">
         <button class="btn btn-outline-primary discount-btn" [disabled]="isApplyDiscountDisabled" (click)="applyDiscount()">APPLY DISCOUNT</button>
       </div>
       <br>
       <div class="row" *ngIf="bucket?.orders && bucket?.discount">
         <b>Total with discount: {{bucket?.finalTotalPrice }} $</b>
         <p class="discount-code"> (Discount code: <b>{{bucket?.discount?.code}}</b>)</p>
       </div>

       <hr>
       <div class="row">
       <p class="text-margin">Select Payment Type: </p>
         <div class="form-group">
           <mat-radio-group aria-label="Select an option" (change)="selectPaymentType($event)">
             <mat-radio-button value="CARD">
               <i class="fa fa-credit-card" aria-hidden="true"></i>
               Card
             </mat-radio-button>
             <mat-radio-button *ngIf="bucket?.finalTotalPrice < 10" value="CASH">
               <i class="fa fa-dollar" aria-hidden="true"></i>
               Cash</mat-radio-button>
           </mat-radio-group>
         </div>
       </div>

       <button class="btn btn-outline-secondary pay-btn" [disabled]="isPayDisabled" (click)="pay()">Pay</button>
     </div>
  <p *ngIf="!bucket?.orders"> No orders, <span class="go-bucket" (click)="gotToDrinks()"> Go and find your drink :)</span></p>
</div>

